* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  background-color: bisque;
}

.contaner {
  --anyName: 4px;
  margin-inline: auto;
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  background-color: darksalmon;
}

.wrapper {
  padding-block: 64px;
}

.nav {
  background-color: blue;
  color: white;
  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__menuwrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
}

#main1 {
  text-align: center;
  .button {
    margin-inline: auto;
  }
  .main {
    &__text {
      margin-inline: auto;
      max-width: 600px;
      margin-bottom: 24px;
    }
    &__media {
      aspect-ratio: 16 / 9;
      background-color: aliceblue;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 24px;
  }
}
