@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 200);
  color: var(--txt);
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(80ch + 4rem);
  min-height: max(50dvh, 2rem);
  margin-inline: auto;
  padding-inline: 2rem;
}

header {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-wrap: balance;
  color: beige;
  word-break: keep-all;
  background-color: brown;
}

section:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
  font-family: "Noto Serif KR", serif;
  text-align: center;
}
main .section1 {
  background-color: rgb(255, 255, 200);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: beige;
}
.progressBar .indicator {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background-color: brown;
  inset: 0;
}

footer .wrapper {
  min-height: max(100dvh, 2rem);
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    top: 1rem;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 0 0 1rem 1rem;
  }
  aside::-webkit-scrollbar {
    display: none;
  }
  aside ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  aside ol a:first-of-type li {
    margin-left: 2rem;
  }
  aside ol a:last-of-type li {
    margin-right: 2rem;
  }
  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (width < 59.1875rem) {
  aside ol {
    justify-content: flex-start;
  }
}
.footer {
  background-color: beige;
  color: rgb(108, 0, 0);
  font-size: 0.875rem;
  padding-top: 50px;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: rgb(108, 0, 0);
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: rgb(108, 0, 0);
}
.footer .wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer .wrapper > * {
  flex: 1;
}
.footer h2 {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 0.75rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 44.375rem) {
  .footer .column:first-of-type {
    grid-row: 1/span 2;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}