body {
  margin: 0;
  padding: 0;
  display: flex;
}

.topnav {
  background-color: grey;
  min-height: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav__logo {
  height: 36px;
  display: grid;
}

.topnav__buttons {
  display: flex;
  gap: 16px;
}

.topnav__button {
  color: white;
  text-transform: capitalize;
}
